.contato {
  background-color: #000;
}
.footer-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  color: #fff;
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  /* justify-items: center; */
  align-items: center;

}

.footer-texto {
  font-size: 1.5rem;
  line-height: 2;
  margin-bottom: 60px;
  max-width: 30ch;
  color: #a3a3a3;
  margin-bottom: 60px;
}
.footer-contatos {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 30px;
}
.footer-container span {
  font-size: 1.125rem;
  grid-column: 1 / -1;
  color: #8f8f8f;  
}
@media(max-width:800px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-container li{
    font-size: 1.2rem;
  }
}