.introducao{
  max-width: 1200px;
  padding:40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  align-items: center;  
}
.introducao h1{
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 2rem;
  position: relative;
}
.introducao p{
  font-size: 1.5rem;
  color: #525252;
}
.introducao h1:before{
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  background: url('../img/detalhe.svg') no-repeat center;
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -40px;
}

.introducao img{
  object-fit: cover;
  object-position: center;
}

@media(max-width:1000px){
  .introducao h1{
    font-size: 3rem;
  }
}
@media(max-width:700px){
  .introducao{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .introducao h1{
    font-size: 2rem;
  }
  .introducao p{
    font-size: 1rem;
  }
  .introducao h1::before{
    width: 30px;
    height: 20px;
    left: 0px;
    top: -20px;
  }
}

@media(max-width:400px){
  .introducao img{
    display: none;
  }
  .introducao{
    grid-template-columns: 1fr;
  }
  .introducao h1{
    margin-bottom: 0.5rem;
  }
}